<!doctype html>
<html>
<head>
    <title>{{ meta.title }}</title>
</head>
<body>
    {{> nav}}
    {{> blogs/blog_nav }}
    {{> posts/post_nav }}
    {{~> page}}
<!--    {{> footer}}-->
</body>
</html>

